<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Books</title>

    <link rel="icon" type="image/x-icon" href="{{ asset(request, 'favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset(request, 'components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset(request, 'css/main.css') }}" rel="stylesheet">
</head>
<body>
    {% import 'macros.html.twig' as helper %}

    <div class="container">
        <header class="jumbotron">
            <h1>Star Wars Books</h1>
            <p class="lead">
                This is the list of Star Wars books and comics with the main information about each of them.
                Featuring my possessions and my readings.
            </p>
        </header>

        <div class="row">
            <div class="col-md-3">
                {% include 'parts/navigation.html.twig' %}
            </div>

            <div class="col-md-9">
                {% include 'parts/books.html.twig' %}
            </div>
        </div>

        <footer class="clearfix">
            <p>
                <small>
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    {{ 'now'|date('Y') }}, Dorian Villet
                </small>
            </p>
        </footer>
    </div>

    <script src="{{ asset(request, 'components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset(request, 'components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset(request, 'components/paul-irish-jquery-unique-duck-punching/jquery-unique-function-duck-punching.js') }}"></script>
    <script src="{{ asset(request, 'components/brandon-aaron-jquery-outerhtml-function/jquery.outerhtml.js') }}"></script>
    <script src="{{ asset(request, 'components/edward-hotchkiss-wrapper/dist/wrapper-0.0.5.min.js') }}"></script>
    <script src="{{ asset(request, 'js/lib/object-swapper.js') }}"></script>
    <script src="{{ asset(request, 'js/books-table-manager.js') }}"></script>
    <script src="{{ asset(request, 'js/main.js') }}"></script>
</body>
</html>
