{#
 # Display the right number of icons for the number of books owned / read
 #}
{% macro displayIcons(nb) %}
    {% if 0 == nb %}
        <small>
            <span class="glyphicon glyphicon-remove"></span>
        </small>
    {% else %}
        {% set loop = 1..(nb) %}
        {% for i in loop %}<small>{% endfor %}
        {% for i in loop %}
            <span class="glyphicon glyphicon-ok"></span>
        {% endfor %}
        {% for i in loop %}</small>{% endfor %}
    {% endif %}
{% endmacro %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% include 'parts/filter_form.html.twig' %}
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed" data-books-list>
            {% for era in library.eras %}
                <thead class="era-header" id="{{ era.id }}">
                <tr>
                    <th class="{{ era.id }}">
                        <img src="{{ asset(request, 'images/eras/'~ era.id ~'.png') }}"
                             alt="{{ era.name }}" class="margin-right-sm">
                        <a href="#{{ era.id }}" data-smooth-scroll>{{ era.name }} era</a>
                    </th>
                </tr>
                </thead>
                <thead class="main-header">
                <tr>
                    <th style="width: 150px;">
                        <abbr title="Chronological timeline">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Book title">
                            <span class="glyphicon glyphicon-tags"></span>
                        </abbr>
                    </th>
                    <th style="width: 190px;">
                        <abbr title="Author(s)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Language of the release">
                            <span class="glyphicon glyphicon-globe"></span>
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Editor / publisher of the release">
                            <span class="glyphicon glyphicon-user"></span>
                        </abbr>
                    </th>
                    <th>
                        <abbr title="Format of the release">
                            <span class="glyphicon glyphicon-book"></span>
                        </abbr>
                    </th>
                    <th style="width: 35px;">
                        <abbr title="Number of copies owned">
                            <span class="glyphicon glyphicon-list"></span>
                        </abbr>
                    </th>
                    <th style="width: 45px;">
                        <abbr title="Number of readings done">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </abbr>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for book in library.booksByEra(era.id) %}
                    {% for release in book.releases %}
                        {% set new = release.published and 0 == release.owner.nbCopies and
                        release.publicationDate > 'now'|date_modify('-3 months')
                        %}
                        <tr lang="{{ release.language.id }}">
                            <td>
                                {{ book.chronologicalMarker.timeStart|starWarsDate|raw }}
                                {% if book.chronologicalMarker.timeEnd is not empty %}
                                    {{ (' - '~ book.chronologicalMarker.timeEnd|starWarsDate)|raw }}
                                {% endif %}
                            </td>
                            <td class="{{ book.category.id }}" data-new="{{ new ? 1 : 0 }}">
                                {% if new %}<span class="label label-info">NEW</span>{% endif %}

                                {% if release.series is not empty and release.series.title is not empty %}
                                    {{ release.series.title -}}
                                    {% if release.series.bookId is not empty %}
                                        {{ ' '~ release.series.bookId -}}
                                    {% endif %}
                                    {{ ': ' }}
                                {% endif %}
                                {{ release.title }}

                                {% if book.swuBookId is not empty %}
                                    {% set swuHost = 'http://www.starwars-universe.com/' %}
                                    <a href="{{ swuHost }}livre-{{ book.swuBookId }}-a.html">
                                        <img src="{{ swuHost }}favicon.ico" alt="Star Wars Universe website">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <ul class="list-inline">
                                    {% for author in book.authors %}
                                        <li>{{ author.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">
                                {% set flag = asset(request, 'images/flags/'~ release.language.id ~'.png', false) %}
                                {% if flag is not empty %}
                                    <img src="{{ flag }}" alt="{{ release.language.name }}" class="img-circle">
                                {% else %}
                                    <abbr title="{{ release.language.name }}">
                                        {{ release.language.id|upper }}
                                    </abbr>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <abbr title="{{ release.editor.name }}">
                                    {{ release.editor.id|upper }}
                                </abbr>
                            </td>
                            <td class="text-center">
                                {% if release.format is not empty %}
                                    <abbr title="{{ release.format.name }}">
                                        {{ release.format.id|upper }}
                                    </abbr>
                                {% endif %}
                            </td>

                            {% if release.published %}
                                <td class="text-center {{ 0 == release.owner.nbCopies ? 'danger' : 'success' }}">
                                    {{ _self.displayIcons(release.owner.nbCopies) }}
                                </td>
                                <td class="text-center {{ 0 == release.owner.nbReadings ? 'danger' : 'success' }}">
                                    {{ _self.displayIcons(release.owner.nbReadings) }}
                                </td>
                            {% else %}
                                <td colspan="2" class="text-center active">
                                    <abbr title="Expected publication date">
                                        {{ release.publicationDate|date('Y-m-d') }}
                                    </abbr>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
